body {
	background:linear-gradient(
    45deg,
    hsla(300, 47%, 75%, 0.356),
    rgba(0, 102, 255, 0.301) );
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: 100% 100%;
}
h1 {
  position: relative;
  text-align: center;
  color: #353535;
  font-size: 70px;
  font-family: "Cormorant Garamond", serif;
}

p {
  font-family: 'Lato', sans-serif;
  font-weight: 200;
  text-align: center;
  font-size: 18px;
  color: #676767;
}
.frame {
  width: 90%;
  margin: 40px auto;
  text-align: center;
}
button {
  margin: 20px;
}
.custom-btn {
  width: 1000px;
  height: 40px;
  color: black;
  margin-left: 70px;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 1000;
  background: rgba(0,0,255,0.3);
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
   box-shadow:inset 2px 2px 2px 0px rgba(0,0,255,0.3),
   7px 7px 20px 0px rgba(0,0,255,0.3) ,
   4px 4px 5px 0px rgba(0,0,255,0.3);
  outline: none;
}




//bt1
.btn-1 {
  background: #759fc9;
  background: linear-gradient(0deg, #759fc9 50%, #759fc9 100%);
  border: none;
}
.btn-1:hover {
   background:#759fc9 ;
background: linear-gradient(0deg, rgba(0,3,255,1) 0%, rgba(2,126,251,1) 100%);
}

//bt7

.btn-7 {
  background: linear-gradient(0deg, rgba(255,151,0,1) 0%, rgba(251,75,2,1) 100%);
    line-height: 42px;
    padding: 500;
    border: none;
  }
  .btn-7 span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
  }
  .btn-7:before,
  .btn-7:after {
    position: absolute;
    content: "";
    right: 0;
    bottom: 0;
    background: rgba(251,75,2,1);
   /* box-shadow:
     -7px -7px 20px 0px rgba(255,255,255,.9),
     -4px -4px 5px 0px rgba(255,255,255,.9),
     7px 7px 20px 0px rgba(0,0,0,.2),
     4px 4px 5px 0px rgba(0,0,0,.3);*/
    transition: all 0.3s ease;
  }
  .btn-7:before{
     height: 0%;
     width: 2px;
  }
  .btn-7:after {
    width: 0%;
    height: 2px;
  }
  .btn-7:hover{
    color: rgba(251,75,2,1);
    background: transparent;
  }
  .btn-7:hover:before {
    height: 100%;
  }
  .btn-7:hover:after {
    width: 100%;
  }
  .btn-7 span:before,
  .btn-7 span:after {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    background: rgba(251,75,2,1);
   /* box-shadow:
     -7px -7px 20px 0px rgba(255,255,255,.9),
     -4px -4px 5px 0px rgba(255,255,255,.9),
     7px 7px 20px 0px rgba(0,0,0,.2),
     4px 4px 5px 0px rgba(0,0,0,.3);*/
    transition: all 0.3s ease;
  }
  .btn-7 span:before {
    width: 2px;
    height: 0%;
  }
  .btn-7 span:after {
    height: 2px;
    width: 0%;
  }
  .btn-7 span:hover:before {
    height: 100%;
  }
  .btn-7 span:hover:after {
    width: 100%;
  }

  .btn{margin-bottom:1%;}
.round{background-color:white;color:green;width:240px;height:20px;line-height:20px;margin:0 auto;
 border: 0px;
border-radius: 20px;
}
.col-md-6{
margin-bottom:1%;
}


/*red*/
body{
	background:   ; // not useable
  position: ;
}
#nav{
}
#nav-toggle{
	position : relative;
	cursor: pointer;
  /*background:
  linear-gradient(red, transparent),
  linear-gradient(to top right, blue, transparent);
  */
	background:linear-gradient(
    45deg,
    hsla(300, 47%, 75%, 0.356),
    rgba(0, 102, 255, 0.301) );
  
background-blend-mode: screen; /*// color for background of nav bar*/
	padding: 27px  50px 30px 7px;
	border: 0px solid ;/* //soild not useable*/
	border-radius: 100%;
	display: ;
}
#nav-toggle span , #nav-toggle span:before , #nav-toggle span:after{
	position: absolute;
	content: '';
	display: block;
	background: white;
  background: linear-gradient(45deg, rgba(28,134,173,1) 20%, rgba(42,154,159,1) 34%, rgba(241,178,17,1) 50%, rgba(232,54,17,1) 83%, rgba(249,0,47,1) 96%); /* color for 3 lines in*/
	width: 40px;
	height: 5px;
	border-radius: 5px;
	transition: all 500ms ease;
}
#nav-toggle span:before{
                           /* this is for the 3 lines in the 
                           nav bar 
                           #nav-toggle span:after{
                                      	bottom: -500px;
                                                }
                                                  */
top: 10px;
}
#nav-toggle span:after{
  top:-10px;
}
#nav-toggle.active span:before{
  top: -0px;
}
#nav-toggle.active span:before{
  top: -0px;
}
#nav-toggle.active span:after {
  top: -0px;
  
}
#nav-toggle.active span{
	background: transparent;
}
#nav-toggle.active span:before{
	transform: rotate(320deg);
}
#nav-toggle.active span:after{
	transform: rotate(-320deg);
}
ul#navbar{
	list-style-type: none;
}
ul#navbar li{
	display: inline-block;
	font-size: 1.5em;
}
ul#navbar li a{
	text-decoration: none;
	display: block;
	padding: 9px;
	color:black; /*color for text*/
	font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
	background: linear-gradient(45deg, rgba(28,134,173,1) 20%, rgba(42,154,159,1) 34%, rgba(241,178,17,1) 50%, rgba(232,54,17,1) 83%, rgba(249,0,47,1) 96%);  /*color of home , about boxex in animation*/

	transition: all 0.5s ease;
  border-radius: 5px;
  border: 2px solid black;
}
ul#navbar li a:hover{
	color: black;
	background: white;
}
@media (max-width: 480px){
	#nav-toggle.active{
		position: absolute;
		animation:rise 0.3s ease-in-out;
		top: 11%;
	}
	#nav-toggle{
		top: 40%;
		left: 43%;
		animation:drop 1s ease-in-out;
		display: block;
	}
	#nav{
		display: none;
	}
	ul#navbar{
		margin-top: 125px;
		padding-left: 0;
	}
	ul#navbar li{
		display: block;
	}
	ul#navbar li a{
		text-align: center;
	}

}
@media (min-width: 481px) and (max-width: 767px){
	#nav-toggle.active{
		position: absolute;
		animation:rise 0.3s ease-in-out;
		top: 11%;
	}
	#nav-toggle{
		animation:drop 1s ease-in-out;
		top: 40%;
		left: 40%;
		display: block;
	}
	#nav{
		display: none;
	}
	ul#navbar{
		margin-top: 125px;
		padding-left: 0;
	}
	ul#navbar li{
		display: block;
	}
	ul#navbar li a{
		text-align: center;
	}

}
@media (min-width: 768px) and (max-width: 992px){
	#nav-toggle{
		left: 0;
		display: block;
		border-radius: 0;
	}
	#nav{
		display: none;
	}
	ul#navbar{
		margin-left: 16px;
		animation: slide 0.3s ease;
	}
	ul#navbar li{
		margin-top: 10px;
	}
}
@media (min-width: 992px){
	#nav-toggle{
		left: 0;
		display: block;
		border-radius: 0;
	}
	#nav{
		display: none;
	}	
	ul#navbar{
		margin-left: 430px;
		animation: slide 0.5s ease;
	}
	ul#navbar li{
		margin-top: 10px;
	}
}

@keyframes drop{
	from{
		top: 10%;
	}
	to{
		top: 40%;
	}
}
@keyframes rise{
	from{
		top: 40%;
	}
	to{
		top: 11%;
	}
}
@keyframes slide{
	from{
		margin-left:  0px;
	}
	to{
		margin-left: 430px;
	}
}
